<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Album</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link charset="utf-8" href="style.css" media="screen" rel="stylesheet" title="no title" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <script type="text/html" id="picTmpl">
      <img src="<%= coverPhoto %>">
      <!-- <h1><%= AlbumTitle %></h1> -->
    </script>
    <script type="text/html" id="threePicTmpl">
      <img src="<%= imageUrl %>">
    </script>
    </head>

  <body>


<header>
    <nav class="navbar">
  <h1>My Albums</h1>


    </nav>
</header>

<section class="wrapper">

  <section class="allpicsview hidden">
    <section class="sidebar">
        <a href="" class="home">*Home*</a>
        <a href="" class="ak">Alaska</a>
        <a href="" class="it">Italy</a>
        <a href="" class="nz">New Zealand</a>
        <a href="" class="nz2">New Zealand Pt. 2</a>
        <a href="" class="fam">Family</a>
        <a href="" class="frnds">Friends</a>
    </section>

      <section class="threepics">
        <div class="pic1">
            <a href="#"></a>
            <img src="" alt="">
        </div>

        <div class="pic2">
        <a href="#"></a>
        <img src="" alt="">
        </div>

        <div class="pic3">
          <a href="#"></a>
          <img src="" alt="">
        </div>


      </section>

  </section>

  <section class="singlepicview hidden">
        <div class="lastsidebar"></div>
          <a href="">*Home*</a>
        <div>

  </div>
  </section>

  <div class="allcolumns">
            <div class="column1">
                <a href="#">One</a>
                <img src="" alt="">
            </div>

            <div class="column2">
          <a href="#">Two</a>
            <img src="" alt="">
            </div>

            <div class="column3">
              <a href="#">Three</a>
              <img src="" alt="">
            </div>

            <div class="column1r2">
              <a href="#">Four</a>
                <img src="" alt="">
            </div>

            <div class="column2r2">
              <a href="#">Five</a>
              <img src="" alt="">
            </div>

            <div class="column3r2">
              <a href="#">Six</a>
              <img src="" alt="">
            </div>
</div>
</section>

<footer>
    <div class="bottombar">

    </div>
</footer>


    <script src="bower_components/jquery/dist/jquery.js"></script>
            <script src="bower_components/underscore/underscore.js"></script>
            <script type="text/javascript" src="info.js"></script>
        <script src="main.js" type="text/javascript"></script>
  </body>
</html>
