.navbar {
  background-color: #c6756d;
  width: 100%;
  height: 100px; }
  .navbar h1 {
    font-family: 'Amatic SC';
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 10px; }

img {
  width: 100%;
  height: 100%; }

.column1, .column1r2, .column3r2 {
  vertical-align: top; }

.column1, .column2, .column3 {
  width: 25%;
  border: 2px solid black;
  display: inline-block;
  margin-left: 85px;
  margin-top: 62px;
  height: 291px;
  background-color: #ededed; }
  .column1 a, .column2 a, .column3 a {
    color: #c6756d;
    font-family: 'Amatic SC';
    font-size: 45px;
    text-decoration: none;
    padding: 0; }

.column1r2, .column2r2, .column3r2 {
  width: 25%;
  border: 2px solid black;
  display: inline-block;
  margin-left: 85px;
  margin-top: 62px;
  height: 291px;
  background-color: #ededed; }
  .column1r2 a, .column2r2 a, .column3r2 a {
    color: #c6756d;
    font-family: 'Amatic SC';
    font-size: 45px;
    text-decoration: none; }

.allpicsstyle {
  font-family: 'Amatic SC';
  color: white;
  text-align: center;
  font-size: 60px;
  padding-top: 10px; }

.hidden {
  display: none; }

.allpicsview {
  content: "Alaska";
  width: 100%;
  height: 100px; }
