.navbar {
  // border: 2px solid #cccccc;
  background-color: rgb(198, 117, 109);
  width: 100%;
  height: 100px;
        h1 {
          font-family: 'Amatic SC';
          color: white;
          text-align: center;
          font-size: 60px;
          padding-top: 10px;

        }

}
img {
  width: 100%;
  height: 100%;
}

.column1, .column1r2, .column3r2 {
  vertical-align: top;
}

.column1, .column2, .column3{
  width: 25%;
  border: 2px solid #cccccc;
  display: inline-block;
  margin-left: 85px;
  margin-top: 62px;
  height: 291px;
  background-color: #ededed;
        a {
          color: rgb(198, 117, 109);
          font-family: 'Amatic SC';
          font-size: 45px;
          // text-align: center;
          text-decoration: none;
          padding: 0;
        }
}



.column1r2, .column2r2, .column3r2{
  width: 25%;
  border: 2px solid #cccccc;
  display: inline-block;
  margin-left: 85px;
  margin-top: 62px;
  height: 291px;
  background-color: #ededed;
          a {
            color: rgb(198, 117, 109);
            font-family: 'Amatic SC';
            font-size: 45px;
            // text-align: center;
            text-decoration: none;
          }

}

// other pages

.allpicsstyle {
  font-family: 'Amatic SC';
  color: white;
  text-align: center;
  font-size: 60px;
  padding-top: 10px;

};

.sidebar {
  height: 1000px;
  width: 15%;
  color: white;
  background-color: #cccccc;
  position: fixed;
  margin-top: -141px;
  padding-top: 47px;
  display: inline-block;
  // position: fixed;
      a {
        display: block;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'Amatic SC';
        padding-top: 20px;

      }
};

.sidebar2 {
  height: 1000px;
  width: 15%;
  color: white;
  background-color: #cccccc;
  position: fixed;
  margin-top: -141px;
  padding-top: 47px;
  display: inline-block;
  // position: fixed;
      a {
        display: block;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'Amatic SC';
        padding-top: 20px;

      }
}

.hidden  {
  display: none;
};

.allpicsview {
  content: "Alaska";
  width: 100%;
  height: 100px;
};

.threepics {
  display: inline-block;
  width: 67%;
  padding-left: 359px;
  padding-top: 100px;

}


.pic1, .pic2, .pic3 {
  display: inline-block;
  // border: 1px solid #cccccc;
  width: 33%;
  height: 312px;
  height: 100px;
  height: 272px;

};
// .bottombar {
// width: 100%;
// background-color: rgb(198, 117, 109);
// height: 100px;
// margin-top: 66px;
// }

// .sidebar2 {
//   background-color: #cccccc;
//   display: inline-block;
//   position: absolute;
//  height: 800px;
//  width: 15%;
//  padding-top: 100px;
//     margin-top: -272px;
//
//           a {
//             text-decoration: none;
//             display: block;
//             font-family: 'Amatic SC';
//             font-size: 40px;
//             text-align: center;
//             color: white;
//
//
//           }
// }

// .lastsidebar {
//   width: 100%;
//   height: 500px;
//   border: 1px solid #cccccc;
//   height: 1000px;
//   width: 15%;
//   color: white;
//   background-color: #cccccc;
//   position: fixed;
//   margin-top: -111px;
//   padding-top: 47px;
//   display: inline-block;
//   // position: fixed;
//   font-family: 'Amatic SC';
//   font-size: 45px;
//   text-align: center;
//
// //
// // }
.onepic {
  width: 50%;
  height: 350px;
  background-color: green;
  position: relative;
  margin-left: 482px;
  margin-top: 100px;
  margin-bottom: 40px;

};
.btn1, .btn2, .btn3 {
  display: inline-block;
  background-color: #cccccc;
  position: relative;
  width: 5%;
    height: 31px;
    border-radius: 10px;
}
.buttons {
  padding-left: 800px;
  margin-bottom: 100px;
}
