.navbar {
  // border: 2px solid #cccccc;
  background-color: rgb(198, 117, 109);
  width: 100%;
  height: 100px;
        h1 {
          font-family: 'Amatic SC';
          color: white;
          text-align: center;
          font-size: 60px;
          padding-top: 10px;

        }

}
img {
  width: 100%;
  height: 100%;
}

.column1, .column1r2, .column3r2 {
  vertical-align: top;
}

.column1, .column2, .column3{
  width: 25%;
  border: 2px solid black;
  display: inline-block;
  margin-left: 85px;
  margin-top: 62px;
  height: 291px;
  background-color: #ededed;
        a {
          color: rgb(198, 117, 109);
          font-family: 'Amatic SC';
          font-size: 45px;
          // text-align: center;
          text-decoration: none;
          padding: 0;
        }
}



.column1r2, .column2r2, .column3r2{
  width: 25%;
  border: 2px solid black;
  display: inline-block;
  margin-left: 85px;
  margin-top: 62px;
  height: 291px;
  background-color: #ededed;
          a {
            color: rgb(198, 117, 109);
            font-family: 'Amatic SC';
            font-size: 45px;
            // text-align: center;
            text-decoration: none;
          }

}

// other pages

.allpicsstyle {
  font-family: 'Amatic SC';
  color: white;
  text-align: center;
  font-size: 60px;
  padding-top: 10px;
};

.hidden  {
  display: none;
}

.allpicsview {
  content: "Alaska";
  width: 100%;
  height: 100px;
}
